body, html {
  margin: 0;
  padding: 0; }

.error {
  background: repeating-linear-gradient(45deg, #ba3535, #ba3535 20px, #962e2e 20px, #962e2e 40px); }

.success {
  background: repeating-linear-gradient(45deg, #35ba3a, #35ba3a 20px, #207424 20px, #207424 40px); }

.error, .success {
  color: white;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 10px;
  text-align: center;
  font-size: 18px;
  width: 100%; }

.none {
  display: none; }

.logo-main {
  margin: 25px auto;
  display: block;
  border-radius: 10px;
  padding: 15px;
  width: 150px;
  height: 150px; }

.login #tab-1 {
  background-color: #f1efeb; }

.register #tab-2 {
  background-color: #f1efeb; }

.login, .register {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  width: 500px;
  height: auto;
  margin: 0 auto;
  background-color: #f1efeb; }
  .login .tabs .tab, .register .tabs .tab {
    background-color: #bfbdb9; }
  .login .tabs, .register .tabs {
    display: flex; }
    .login .tabs .tab, .register .tabs .tab {
      text-decoration: none;
      display: block;
      color: black;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 50%;
      height: 100px; }
      .login .tabs .tab h2, .register .tabs .tab h2 {
        color: black; }
      .login .tabs .tab:hover h2, .register .tabs .tab:hover h2 {
        transition: color 0.5s ease;
        color: #a17400;
        cursor: pointer; }
  .login .input-container, .register .input-container {
    width: 100%;
    height: auto;
    padding-top: 5px;
    background-color: #f1efeb;
    border-bottom: 1px solid black; }
    .login .input-container .label, .register .input-container .label {
      color: #a17400;
      height: 35px;
      font-size: 14px;
      text-align: left;
      padding: 0;
      padding-left: 10px;
      display: block; }
    .login .input-container .username, .login .input-container .password, .register .input-container .username, .register .input-container .password {
      color: #585858;
      background-color: #f1efeb;
      border: none;
      width: 100%;
      height: 35px;
      font-size: 15px;
      padding-left: 10px; }
      .login .input-container .username:focus, .login .input-container .password:focus, .register .input-container .username:focus, .register .input-container .password:focus {
        outline: none; }
  .login .submit-btn, .register .submit-btn {
    border: none;
    color: white;
    position: relative;
    background-color: #42Af50;
    height: 65px;
    width: 48%;
    margin-top: 10px;
    border-bottom: 3px solid #248831; }
    .login .submit-btn:hover, .register .submit-btn:hover {
      transition: border 1s ease;
      border-bottom: none; }
    .login .submit-btn:focus, .register .submit-btn:focus {
      outline: none; }
  .login #Google, .login #Facebook, .login #Twitter, .register #Google, .register #Facebook, .register #Twitter {
    position: relative;
    text-decoration: none;
    height: 85px;
    width: 100%;
    display: flex; }
    .login #Google .logo, .login #Facebook .logo, .login #Twitter .logo, .register #Google .logo, .register #Facebook .logo, .register #Twitter .logo {
      width: 85px;
      color: white;
      height: auto; }
      .login #Google .logo .icon, .login #Facebook .logo .icon, .login #Twitter .logo .icon, .register #Google .logo .icon, .register #Facebook .logo .icon, .register #Twitter .logo .icon {
        width: 20px;
        margin: 31px auto; }
    .login #Google .platform-normal, .login #Facebook .platform-normal, .login #Twitter .platform-normal, .register #Google .platform-normal, .register #Facebook .platform-normal, .register #Twitter .platform-normal {
      font-size: 20px;
      text-align: center;
      width: 80%;
      color: white;
      margin-top: 28px; }
      .login #Google .platform-normal .bold, .login #Facebook .platform-normal .bold, .login #Twitter .platform-normal .bold, .register #Google .platform-normal .bold, .register #Facebook .platform-normal .bold, .register #Twitter .platform-normal .bold {
        color: #f1efeb; }
    .login #Google:hover, .login #Facebook:hover, .login #Twitter:hover, .register #Google:hover, .register #Facebook:hover, .register #Twitter:hover {
      cursor: pointer; }
  .login #Google, .register #Google {
    background: linear-gradient(to right, #b52f1f 50%, #dd4b39 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease; }
    .login #Google:hover, .register #Google:hover {
      background-position: left bottom; }
    .login #Google .logo, .register #Google .logo {
      background-color: #b52f1f; }
  .login #Facebook, .register #Facebook {
    background: linear-gradient(to right, #283d68 50%, #3b5998 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease; }
    .login #Facebook:hover, .register #Facebook:hover {
      background-position: left bottom; }
    .login #Facebook .logo, .register #Facebook .logo {
      background-color: #283d68; }
  .login #Twitter, .register #Twitter {
    background: linear-gradient(to right, #0084b4 50%, #00aced 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease; }
    .login #Twitter:hover, .register #Twitter:hover {
      background-position: left bottom; }
    .login #Twitter .logo, .register #Twitter .logo {
      background-color: #0084b4; }

.login .user-avatar {
  border-radius: 100px;
  display: block;
  margin: 15px auto;
  width: 100px;
  height: 100px; }
.login .submit-container {
  margin: 10px 15px;
  display: flex;
  height: 100px; }
  .login .submit-container li {
    margin: 0;
    margin-top: 32px;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 50%;
    padding-bottom: 3px; }
    .login .submit-container li:hover {
      cursor: pointer; }
    .login .submit-container li .forgot-password {
      margin-top: 30px;
      font-size: 15px;
      text-align: center;
      color: #a17400;
      text-decoration: none; }
    .login .submit-container li:after {
      content: '';
      display: block;
      margin: auto;
      height: 1px;
      width: 0px;
      background: transparent;
      transition: width .5s ease, background-color .5s ease; }
    .login .submit-container li:hover:after {
      width: 115px;
      background: #a17400;
      cursor: pointer; }

.register .kicker {
  margin: 35px 0;
  text-align: center; }
.register .input-container-2 {
  display: flex; }
  .register .input-container-2 #input-2 {
    border-left: 1px solid black; }
.register .submit-container {
  height: 100px;
  margin: 10px 15px;
  display: flex; }
  .register .submit-container .terms {
    padding-right: 15px;
    margin-top: 20px;
    line-height: 1.5;
    font-size: 15px;
    text-align: center;
    width: 50%; }
    .register .submit-container .terms .term:after {
      content: '';
      display: block;
      margin: 0 100px;
      height: 1px;
      width: 0px;
      background: transparent;
      transition: width .5s ease, background-color .5s ease; }
    .register .submit-container .terms .term:hover:after {
      width: 110px;
      background: #a17400;
      cursor: pointer; }
    .register .submit-container .terms .term a {
      text-decoration: none;
      color: black;
      transition: color 0.5s ease;
      color: #a17400; }

.home .navbar {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  margin: 50px auto;
  height: 20px;
  border-radius: 0;
  border: 1px solid #a17400;
  border-right: none;
  background-color: #e2e0dc;
  display: flex;
  width: 901px; }
  .home .navbar .nav-tag {
    text-transform: capitalize;
    padding-top: 10px;
    height: 100%;
    font-size: 15px;
    display: block;
    width: 150px;
    text-align: center;
    border-right: 1px solid #a17400; }
    .home .navbar .nav-tag:hover {
      cursor: pointer;
      background-color: #f1efeb; }
.home .logo {
  margin: 25px auto;
  display: block;
  background-color: #2B2D42;
  border-radius: 10px;
  padding: 15px;
  width: 150px;
  height: 150px; }
.home .login-btn, .home .register-btn {
  height: 25px;
  font-size: 16px;
  text-decoration: none;
  color: #2B2D42;
  display: inline-block;
  width: 100px;
  text-align: center; }
.home .btn-container {
  width: 225px;
  margin: 25px auto;
  margin-bottom: 0px;
  display: flex; }
  .home .btn-container .button {
    position: relative;
    display: flex; }
    .home .btn-container .button .login-btn {
      background-color: #a17400; }
      .home .btn-container .button .login-btn:hover {
        color: #f1efeb; }
    .home .btn-container .button .login-arrow {
      width: 0;
      height: 0;
      border-bottom: 0 solid transparent;
      border-left: 0 solid transparent;
      border-right: 25px solid transparent;
      border-top: 25px solid #a17400; }
    .home .btn-container .button .register-btn {
      background-color: #f1efeb; }
      .home .btn-container .button .register-btn:hover {
        color: #a17400; }
    .home .btn-container .button .register-arrow {
      margin-left: -25px;
      width: 0;
      height: 0;
      border-right: 0 solid transparent;
      border-top: 0 solid transparent;
      border-left: 25px solid transparent;
      border-bottom: 25px solid #f1efeb; }
.home .create-container {
  width: 150px;
  margin: 0 auto;
  display: flex; }
  .home .create-container .create-arrow-a {
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-top: 25px solid #ecf1f4;
    border-left: 25px solid transparent;
    border-bottom: 0 solid transparent; }
  .home .create-container .create-arrow-b {
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-top: 25px solid #ecf1f4;
    border-left: 0 solid transparent;
    border-bottom: 0 solid transparent; }
  .home .create-container .create-btn {
    display: block;
    text-align: center;
    width: 100px;
    background-color: #ecf1f4;
    height: 25px;
    font-size: 16px;
    color: #8D99AE; }
    .home .create-container .create-btn:hover {
      text-decoration: none;
      color: #2B2D42;
      cursor: pointer; }

.user-settings {
  display: block;
  position: fixed;
  bottom: 25px;
  right: 10%;
  background-color: #ececec;
  border: 3px solid #a17400;
  padding: 7px; }
  .user-settings:hover {
    transition: 0.25s transform ease-in-out;
    transform: scale(1.1);
    cursor: pointer; }
    .user-settings:hover i {
      color: #a17400; }

.user-profile {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  display: block;
  position: fixed;
  bottom: 125px;
  right: 10%;
  background-color: #ececec;
  border: 3px solid #a17400;
  padding: 15px 7px; }
  .user-profile h3 {
    text-transform: capitalize;
    text-align: center;
    padding: 0;
    margin: 15px; }
  .user-profile input {
    margin: 5px;
    padding: 5px;
    background-color: #ececec;
    border: none;
    border-bottom: 1px solid black; }
    .user-profile input:focus {
      outline: none; }
  .user-profile .update {
    display: block;
    margin: 25px auto;
    margin-top: 50px;
    width: 50%;
    border: none;
    color: white;
    background-color: #42Af50;
    height: 65px;
    border-bottom: 3px solid #248831;
    margin-bottom: 25px; }
    .user-profile .update:hover {
      transition: border 1s ease;
      border-bottom: none; }
    .user-profile .update:focus {
      outline: none; }
  .user-profile .sign-out {
    padding: 5px;
    margin: 5px;
    padding-top: 15px;
    font-size: 16px; }
    .user-profile .sign-out:hover {
      cursor: pointer;
      color: #a17400;
      text-decoration: underline; }

.article-container {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75); }
  .article-container .row {
    padding: 25px 15px; }
  .article-container .featured {
    background-color: #f1efeb;
    height: auto; }
    .article-container .featured .head {
      text-align: center;
      position: relative; }
      .article-container .featured .head span {
        display: inline-block;
        padding: 0 10px;
        background-color: #f1efeb;
        z-index: 2;
        position: relative; }
      .article-container .featured .head:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        left: 25px;
        right: 25px;
        top: 50%;
        height: 1px;
        background: #ccc; }
    .article-container .featured .recent {
      height: 100%;
      text-align: center; }
    .article-container .featured .earlier {
      height: 100%;
      text-align: center; }
    .article-container .featured .article {
      margin-top: 15px;
      width: 100%;
      height: 450px; }
      .article-container .featured .article .article-overlay {
        width: 100%;
        height: 100%;
        overflow: hidden; }
        .article-container .featured .article .article-overlay .tag {
          margin-top: 10px;
          width: 50px;
          height: 50px; }
        .article-container .featured .article .article-overlay:hover {
          cursor: pointer; }
          .article-container .featured .article .article-overlay:hover .article-hover {
            display: block; }
        .article-container .featured .article .article-overlay .article-hover {
          overflow: hidden;
          display: none; }
          .article-container .featured .article .article-overlay .article-hover .article-desc {
            font-size: 18px;
            line-height: 2.0;
            margin-top: 50px;
            padding: 15px;
            padding-top: none;
            color: #2B2D42; }
  .article-container .masonry-container {
    display: block;
    margin-left: -15px;
    background-color: #f1efeb;
    padding: 0;
    padding-left: 15px;
    list-style: none;
    width: inherit; }
    @media all and (max-width: 767px) {
      .article-container .masonry-container {
        margin-right: -15px; } }
    .article-container .masonry-container .article {
      margin: 15px 0 0 15px;
      width: 360px; }
      .article-container .masonry-container .article img {
        width: 100%; }
    .article-container .masonry-container .article {
      text-decoration: none;
      display: block; }
      .article-container .masonry-container .article .article-overlay {
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center; }
        .article-container .masonry-container .article .article-overlay .tag {
          text-decoration: none;
          margin-top: 10px;
          width: 50px;
          height: 50px; }
        .article-container .masonry-container .article .article-overlay:hover {
          cursor: pointer; }
          .article-container .masonry-container .article .article-overlay:hover .article-hover {
            text-decoration: none;
            display: block; }
        .article-container .masonry-container .article .article-overlay .article-title {
          color: black;
          text-decoration: none;
          text-transform: capitalize; }
        .article-container .masonry-container .article .article-overlay .article-hover {
          text-decoration: none;
          overflow: hidden;
          display: none; }
          .article-container .masonry-container .article .article-overlay .article-hover .article-desc {
            text-decoration: none;
            font-size: 18px;
            line-height: 2.0;
            margin-top: 50px;
            padding: 15px;
            padding-top: none;
            color: #2B2D42; }

.create {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  width: 100%;
  height: auto;
  max-width: 960px;
  margin: 0 auto;
  background-color: #f1efeb; }
  .create .logo-container {
    padding: 50px 0; }
    .create .logo-container .home {
      width: 150px;
      height: 150px;
      display: block;
      margin: 0 auto; }
  .create .create-form {
    padding: 15px; }
    .create .create-form .title, .create .create-form .tag, .create .create-form .desc {
      color: #575757;
      margin-left: 25px;
      width: 400px;
      border: none;
      border-bottom: 1px solid #2B2D42;
      background-color: #f1efeb;
      padding: 5px 10px;
      font-size: 24px; }
      .create .create-form .title:focus, .create .create-form .tag:focus, .create .create-form .desc:focus {
        outline: none; }
    .create .create-form .tag, .create .create-form .desc {
      margin-left: 15%;
      padding-bottom: 8px;
      font-size: 16px;
      width: 200px; }
    .create .create-form .desc {
      width: 80%;
      margin-left: 25px; }
    .create .create-form .author {
      padding: 10px 5px;
      font-weight: bolder;
      color: #a17400;
      margin-left: 25px; }
    .create .create-form .dropdown {
      float: right;
      margin-right: 50px; }
      .create .create-form .dropdown .selected {
        width: 200px;
        border: 1px solid black;
        font-size: 18px;
        text-align: center;
        text-transform: capitalize;
        height: 50px;
        padding-top: 10px; }
        .create .create-form .dropdown .selected:hover {
          color: white;
          background-color: #2B2D42;
          cursor: pointer; }
      .create .create-form .dropdown .options {
        -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0; }
        .create .create-form .dropdown .options .menu-option {
          background-color: #f1efeb;
          display: block;
          width: 200px;
          border: 1px solid black;
          font-size: 18px;
          text-align: center;
          text-transform: capitalize;
          height: 50px;
          padding-top: 10px; }
          .create .create-form .dropdown .options .menu-option:hover {
            color: white;
            background-color: #2B2D42;
            cursor: pointer; }
    .create .create-form .bg-image {
      display: block;
      border: 1px solid #2B2D42;
      margin: 25px auto;
      max-width: 900px;
      min-height: 200px;
      text-align: center; }
    .create .create-form .bg-input {
      display: block;
      width: 500px;
      border: none;
      border-bottom: 1px solid black;
      margin: 0 auto;
      padding: 5px 7px;
      background-color: #f1efeb; }
      .create .create-form .bg-input:focus {
        outline: none; }
    .create .create-form .section-container {
      width: 90%;
      margin: 25px 5%;
      border-top: 1px solid black;
      border-bottom: 1px solid black; }
      .create .create-form .section-container .section-title {
        margin-top: 25px;
        color: #575757;
        margin-left: 25px;
        width: 400px;
        border: none;
        border-bottom: 1px solid #2B2D42;
        background-color: #f1efeb;
        padding: 5px 10px;
        font-size: 20px; }
        .create .create-form .section-container .section-title:focus {
          outline: none; }
      .create .create-form .section-container .section-remove {
        color: #882b2b;
        float: right;
        margin-top: 35px; }
        .create .create-form .section-container .section-remove:hover {
          cursor: pointer;
          text-decoration: underline; }
      .create .create-form .section-container .section {
        width: 96%;
        margin: 25px 2%;
        height: 500px;
        background-color: #f1efeb;
        padding: 10px 7px;
        line-height: 2; }
        .create .create-form .section-container .section:focus {
          outline: none; }
      .create .create-form .section-container .add {
        display: block;
        margin: 25px auto;
        width: 25%;
        border: none;
        color: white;
        background-color: #42Af50;
        height: 65px;
        margin-top: 10px;
        border-bottom: 3px solid #248831; }
        .create .create-form .section-container .add:hover {
          transition: border 1s ease;
          border-bottom: none; }
        .create .create-form .section-container .add:focus {
          outline: none; }
    .create .create-form .color-display {
      align-items: center;
      justify-content: center;
      width: 100%; }
      .create .create-form .color-display .bg {
        width: 150px;
        height: 150px;
        margin: 0 5%;
        background-color: #2B2D42; }
        .create .create-form .color-display .bg:hover {
          transform: scale(1.2);
          cursor: pointer; }
        .create .create-form .color-display .bg .color-right, .create .create-form .color-display .bg .color-left {
          width: 150px;
          height: 150px; }
        .create .create-form .color-display .bg .color-right {
          background-color: rgba(161, 116, 0, 0.75); }
        .create .create-form .color-display .bg .color-left {
          background-color: rgba(244, 241, 235, 0.75); }
      .create .create-form .color-display .active .color-right, .create .create-form .color-display .active .color-left {
        border: 3px solid #42Af50; }
    .create .create-form .choose {
      margin-top: 25px;
      text-align: center; }
    .create .create-form .post {
      display: block;
      margin: 25px auto;
      margin-top: 100px;
      width: 50%;
      border: none;
      color: white;
      background-color: #42Af50;
      height: 65px;
      border-bottom: 3px solid #248831; }
      .create .create-form .post:hover {
        transition: border 1s ease;
        border-bottom: none; }
      .create .create-form .post:focus {
        outline: none; }

.article-page {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  background-color: #f1efeb; }
  .article-page .logo-link {
    text-decoration: none; }
    .article-page .logo-link .logo {
      display: block;
      margin: 25px auto;
      width: 100px;
      height: 100px; }
  .article-page .article .article-title {
    display: block;
    width: 100%;
    height: 250px;
    text-align: center;
    background-color: #a17400;
    padding-top: 100px;
    color: #f1efeb;
    font-size: 48px;
    -webkit-box-shadow: inset 0px 0px 24px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 24px 3px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 24px 3px rgba(0, 0, 0, 0.75); }
  .article-page .article .author {
    margin-top: 25px;
    margin-left: 15px;
    font-size: 20px;
    color: #8D99AE;
    padding-bottom: 25px; }
    .article-page .article .author:before {
      color: black;
      content: "By: "; }
  .article-page .article .date {
    color: #8D99AE;
    font-size: 18px;
    padding-left: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid black; }
    .article-page .article .date:before {
      color: black;
      content: 'Date Created: '; }

.section {
  margin-top: 50px;
  background-color: #f1efeb; }
  .section .section-title {
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 15px; }
  .section p {
    margin: 25px;
    font-size: 18px;
    font-weight: 200;
    line-height: 2.5; }

.create-section {
  padding: 25px;
  margin-top: 50px;
  background-color: #f1efeb; }
  .create-section .comment-title {
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 15px; }
  .create-section .suggest {
    text-align: center;
    color: #8D99AE;
    margin: 25px 0; }
  .create-section .create-comment .comment-area {
    height: 175px;
    width: 80%;
    margin: 0 10%; }
  .create-section .create-comment .submit-comment {
    display: block;
    margin: 25px auto;
    margin-top: 50px;
    width: 50%;
    border: none;
    color: white;
    background-color: #42Af50;
    height: 65px;
    border-bottom: 3px solid #248831;
    margin-bottom: 25px; }
    .create-section .create-comment .submit-comment:hover {
      transition: border 1s ease;
      border-bottom: none; }
    .create-section .create-comment .submit-comment:focus {
      outline: none; }

.comment {
  width: 100%;
  padding: 25px;
  background-color: #f1efeb;
  margin-top: 25px; }
  .comment h5 {
    font-size: 18px;
    text-transform: capitalize; }
  .comment img {
    margin-right: 25px;
    width: 25px;
    height: 25px; }
  .comment .center {
    text-align: center;
    width: 100%; }
    .comment .center .likes {
      margin-right: 25px; }
      .comment .center .likes:hover {
        color: #42Af50;
        cursor: pointer; }
    .comment .center .dislikes:hover {
      color: #af4242;
      cursor: pointer; }
    .comment .center .reply {
      margin-left: 25px; }
      .comment .center .reply:hover {
        cursor: pointer; }

.admin-container {
  background-color: #f1efeb;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  padding-bottom: 100px; }
  .admin-container .header {
    text-align: center; }
  .admin-container .logo {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    display: block; }
  .admin-container .articles {
    width: 90%;
    margin: 0 auto; }
    .admin-container .articles .article-header {
      height: 50px;
      background-color: #e7e5e1;
      text-align: center; }
      .admin-container .articles .article-header td {
        border: 1px solid black; }
    .admin-container .articles .article {
      height: 100px;
      background-color: #e7e5e1; }
      .admin-container .articles .article .featured {
        width: 10%;
        margin: 0 auto;
        text-align: center;
        border: 1px solid black; }
      .admin-container .articles .article .title {
        border: 1px solid black;
        padding-left: 25px; }
      .admin-container .articles .article:hover {
        cursor: pointer;
        background-color: #d8d6d2; }
  .admin-container .footer {
    height: 75px;
    background: #ecf1f4;
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%; }
    .admin-container .footer button {
      display: block;
      margin: 25px auto;
      width: 15%;
      border: none;
      color: white;
      background-color: #42Af50;
      height: 50px;
      margin-top: 10px;
      border-bottom: 3px solid #248831; }
      .admin-container .footer button:hover {
        transition: border 1s ease;
        border-bottom: none; }
      .admin-container .footer button:focus {
        outline: none; }

body, html {
  background-color: #2B2D42; }

/*# sourceMappingURL=main.css.map */
