.home {
  .navbar {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    margin: 50px auto;
    height: 20px;
    border-radius: 0;
    border: 1px solid $kappa-gold;
    border-right: none;
    background-color: $kappa-white - 15;
    display: flex;
    width: 901px;
    .nav-tag {
      text-transform: capitalize;
      padding-top: 10px;
      height: 100%;
      font-size: 15px;
      display:block;
      width: 150px;
      text-align: center;
      border-right: 1px solid $kappa-gold;
      &:hover {
        cursor: pointer;
        background-color: $kappa-white;
      }
    }
  }

  .logo {
    margin: 25px auto;
    display: block;
    background-color: $kappa-dark-blue;
    border-radius: 10px;
    padding: 15px;
    width: 150px;
    height: 150px;
  }

  .login-btn,.register-btn {
    height: 25px;
    font-size: 16px;
    text-decoration: none;
    color: $kappa-dark-blue;
    display: inline-block;
    width: 100px;
    text-align: center;

  }

  .btn-container {
    width: 225px;
    margin: 25px auto;
    margin-bottom: 0px;
    display: flex;
    .button {
      position: relative;
      display: flex;
      .login-btn {
        background-color: $kappa-gold;
        &:hover {
          color: $kappa-white;
        }
      }
      .login-arrow {
        width: 0;
        height: 0;
        border-bottom: 0 solid transparent;
        border-left:  0 solid transparent;
        border-right: 25px solid transparent;
        border-top: 25px solid $kappa-gold;
      }
      .register-btn {
        background-color: $kappa-white;
        &:hover {
          color: $kappa-gold;
        }
      }
      .register-arrow {
        margin-left:-25px;
        width: 0;
        height: 0;
        border-right: 0 solid transparent;
        border-top:  0 solid transparent;
        border-left: 25px solid transparent;
        border-bottom: 25px solid $kappa-white;
      }
    }
  }
  .admin-container {
    width: 150px;
    margin: 0 auto;
    display: flex;
    .create-arrow-a {
      width: 0;
      height: 0;
      border-right: 0 solid transparent;
      border-top:  25px solid $kappa-gray;
      border-left: 25px solid transparent;
      border-bottom: 0 solid transparent;
    }
    .create-arrow-b {
      width: 0;
      height: 0;
      border-right: 25px solid transparent;
      border-top:  25px solid $kappa-gray;
      border-left: 0 solid transparent;
      border-bottom: 0 solid transparent;
    }
    .create-btn {
      display: block;
      text-align: center;
      width:100px;
      background-color: $kappa-gray;
      height: 25px;
      font-size: 16px;
      color: $kappa-light-blue;
      &:hover {
        text-decoration: none;
        color: $kappa-dark-blue;
        cursor: pointer;
      }
    }
  }
}
