$kappa-white: #f1efeb;
$kappa-gold: #a17400;
$kappa-light-blue: #8D99AE;
$kappa-dark-blue: #2B2D42;
$kappa-gray: #ecf1f4;
$kappa-transparent-dark: rgba(161, 116, 0, 0.75);
$kappa-transparent-light: rgba(244, 241, 235, 0.75);
